.awards
  background: #FFFFFF
  border: 1px solid #E2EAED
  padding: 0 20px
  @media (max-width: 1024px)
    border: none
  .container
    max-width: 1140px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 42px
    padding: 50px 0
    @media (max-width: 1024px)
      grid-template-columns: 1fr 1fr
      grid-gap: 10px
      padding: 20px 0
    .awards__item
      display: flex
      align-items: center
      @media (max-width: 1024px)
        background: #FFFFFF
        border: 1px solid #E2EAED
        border-radius: 5px
        padding: 20px 20px 20px 30px
        flex-direction: column
        align-items: normal
      .awards__img
        margin-right: 20px
        @media (max-width: 1024px)
          margin-bottom: 10px
          margin-right: 0
      .awards__text
        display: flex
        flex-direction: column
        span
          font-family: Poppins, sans-serif
          font-style: normal
          font-weight: bold
          font-size: 16px
          line-height: 140%
          letter-spacing: 0.01em
          color: #212121
          @media (max-width: 1024px)
            font-size: 14px
        p
          font-family: Poppins, sans-serif
          font-style: normal
          font-weight: 500
          font-size: 14px
          line-height: 140%
          letter-spacing: 0.01em
          color: #212121
          margin-top: 5px
          @media (max-width: 1024px)
            font-size: 13px