.guarantee
  background: #F4F8F8
  .container
    max-width: 1140px
    background: #FFF8EF
    border: 1px solid rgba(231, 133, 37, 0.25)
    border-radius: 10px
    flex-direction: column
    padding: 50px
    h1
      font-family: Poppins, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 128.5%
      letter-spacing: -0.5px
      color: #E78525
      text-align: center
    h2
      font-family: Poppins, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 26px
      line-height: 128.5%
      letter-spacing: -0.5px
      color: #212121
      text-align: center
      margin: 10px 0 20px 0
    p
      font-family: Poppins, sans-serif
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 160%
      text-align: center
      color: #434343
    .guarantee-button
      font-family: Poppins, sans-serif
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 21px
      color: #FFFFFF
      background: #418542
      padding: 12px 28px
      border-radius: 5px
      margin: 30px auto 0 auto