.link
  background: #418542
  padding: 0 20px
  pointer-events: none
  transition-duration: 0.4s
  &:hover
    background: #3C5F43
  .container
    padding: 30px 0 28px
    max-width: 1140px
    justify-content: center
    align-items: center
    @media (max-width: 911px)
      padding: 20px 0
    a
      display: flex
      align-items: center
      transition-duration: 0.4s
      pointer-events: all
      span
        pointer-events: all
        font-family: Poppins, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 36px
        text-transform: uppercase
        color: #FFFFFF
        margin-right: 15px
        transition-duration: 0.4s
        @media (max-width: 911px)
          font-size: 18px
          line-height: 27px
          margin-right: 10px
      svg
        width: 18px
        height: 14px
        path
          transition-duration: 0.4s